.wrapper
  .form
    %h2 会員登録
    .form__new-user
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = render "devise/shared/error_messages", resource: resource
        .field
          = f.label :nickname
          = f.text_field :nickname, autofocus: true, placeholder: "ニックネーム", autocomplete: "nickname"
        .field
          = f.label :email
          = f.email_field :email, autofocus: true, placeholder: "example@mail.com", autocomplete: "email"
        .field
          = f.label :password
          - if @minimum_password_length
            %p (#{@minimum_password_length} 文字以上で入力して下さい)
          = f.password_field :password, placeholder: "8文字以上", autocomplete: "new-password"
        .field
          = f.label :password_confirmation
          = f.password_field :password_confirmation,placeholder: "確認の為、もう一度入力して下さい", autocomplete: "new-password"
        .actions
          = f.submit "サインイン", class: "button"
    = render "devise/shared/links"
