.form
  = form_with(model: @styling, local: true) do |f|
    = render 'devise/shared/error_messages', model: f.object

    .field
      .field__item-image
        = f.label :アイテムを選択してください
        = f.collection_check_boxes(:item_ids, @items, :id, :image) do |item|
          = item.label do
            = item.object.image
            = item.check_box

      .field__title
        = f.label :タイトルを入力してください
        = f.text_field :title

      .field__select
        = f.label :シーズン
        = f.select :season, Item.seasons.keys.map{ |k| [k,k]}, {include_blank: "選択してください"}

      .field__scene
        = f.label :シーン
        = f.text_field :scene

      .field__text
        = f.label :メモ
        = f.text_area :text

    .actions
      = f.submit 'Save', class: "button"