.form
  = form_with model: @item, local: true do |f|
    - if @item.errors.any?
      #error_explanation
        %h3= "#{pluralize(@item.errors.count, "error")} prohibited this item from being saved:"
        %ul
          - @item.errors.full_messages.each do |message|
            %li= message

    .field
      .field__image
        = f.label :写真を追加してください
        = f.file_field :image
      .field__season
        = f.label :シーズン
        = f.select :season, Item.seasons.keys.map{ |k| [k,k]}, {include_blank: "選択してください"}
      .field__color
        = f.label :カラー
        = f.select :color, Item.colors.keys.map{ |k| [k, k]}, {include_blank: "選択してください"}
      .field__tag
        = f.label :タグ
        .selected-tags
          #item-tags.js-add-tags
        = f.text_field :tag_list, value: @item.tag_list.join(","), class: "tags-field", placeholder: "1つ以上、複数の場合は','で区切ってください"
        #tags-search-result
      .field__text
        = f.label :メモ
        = f.text_area :text

    .actions
      = f.submit 'Save', class: "button"
